body {
  margin: 0;
  font-family: "Helvetica", Arial, sans-serif;
}

.page-title {
  color: red;
  margin-top: 15rem;
  font-size: 2.5rem;
  margin-bottom: 0;
}

.page-title, .page-body {
  margin-left: 5rem;
}

.city-images {
  width: 50%;
  height: 700px;
  float:right;
  margin-top: 2rem;
  margin-right: 6rem;
  border-radius: 10px;
  padding-left: 2rem;
}

 a {
  text-decoration: none;
 }

nav {
  background-color: #333333;
  height: 75px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  list-style-type: none;
  float: right;
}

.nav-item {
  margin: 1rem;
  font-size: 1.5rem;
  color:white;
}

.nav-item:hover {
  color: lightslategrey;
}

.city-info {
  font-size: 1.7rem;
  margin-top: 10px;
}

.activities-title {
  font-size: 1.7rem;
}

.activities-list {
  margin-top: 10px;
}

.activities {
  font-size: 1.5rem;
}

#logo {
  color:white;
  justify-self: flex-start;
  margin-left: 2rem;
  font-size: 2rem;
}


#logo:hover {
  color: lightblue;
}