body {
  margin: 0;
  font-family: "Helvetica", Arial, sans-serif;
}

.page-title {
  color: red;
  margin-top: 10rem;
}

.page-title, .page-body {
  margin-left: 5rem;
}

.city-images {
  width: 50%;
  height: 700px;
  float:right;
  margin-top: 2rem;
  margin-right: 10rem;
  border-radius: 5px;
}

 a {
  text-decoration: none;
 }

nav {
  background-color: #333333;
  height: 75px;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  list-style-type: none;
  float: right;
}

li {
  margin: 1rem;
  font-size: 1.5rem;
  color:white;
}

li:hover {
  color: lightslategrey;
}