body {
  margin: 0;
  font-family: "Helvetica", Arial, sans-serif;
}

.page-title {
  margin-top: 15rem;
  font-size: 2.5rem;
  margin-bottom: 0;
}

.page-title, .page-body {
  margin-left: 5rem;
}

.city-images {
  width: 50%;
  height: 700px;
  float:right;
  margin-top: -5rem;
  margin-right: 6rem;
  border-radius: 10px;
  padding-left: 2rem;
}

 a {
  text-decoration: none;
 }

nav {
  background-color: #333333;
  height: 75px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width:100%;
  top: 0;
  z-index: 1;
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  list-style-type: none;
  float: right;
  margin-right: 3rem;
}

.nav-item {
  margin: 1rem;
  font-size: 1.5rem;
  color:white;
}

.city-info {
  font-size: 1.7rem;
  margin-top: 10px;
}

.activities-title {
  font-size: 1.7rem;
  margin-bottom: 0;
}

.activities {
  font-size: 1.5rem;
}

#logo {
  color:white;
  justify-self: flex-start;
  margin-left: 2rem;
  font-size: 2rem;
}

#logo:hover {
  color: #498467;
}

#jerseycity-title, #jerseycity-link:hover {
  color:goldenrod;
}

#atlanticcity-title, #atlanticcity-link:hover {
  color:#bf1a2f;
}

#trenton-title, #trenton-link:hover {
  color:#05668d;
}

#main-page-image {
  width:100%;
  height: 700px;
}

#welcome-section {
  position: relative;
}

#welcome-text-box {
  position: absolute;
  color:white;
  background-color: #333333;
  width:35%;
  height: 125px;
  top: 8rem;
}

#welcome-text {
  margin-left: 2rem;
  font-size: 1.8rem;
  margin-bottom: 0;
  text-align: center;
}

#welcome-paragraph {
  font-size: 1.3rem;
  text-align: center;
}

#main-page-overview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#main-page-overview-title {
  margin-top: 2rem;
  font-size: 2rem;
}

#main-page-overview-text {
  margin-top:0;
  font-size:1.5rem;
  width:50%
}

#city-compare-table {
  display: flex;
  justify-content: center;
  font-size: 1.5rem
}

th, td {
  padding:1rem;
}

#contact-header {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
}

#contact-text {
  margin-top: 0;
  padding-bottom:1rem;
  font-size:1.3rem;
}

#contact-form {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],input[type="email"], textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 16px;
}

#submit-button {
  background-color:#333333;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#submit-button:hover {
  background-color:498467;
}